@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kelly+Slab&family=Pangolin&family=Press+Start+2P&family=Reggae+One&family=Rubik+Glitch&family=Ruslan+Display&family=Stick&family=Yeseva+One&display=swap');

html, body{

margin: 0;
padding: 0;
color: var(--text-color);
background-color: var(--bg-color);
}

:root {
  --bg-color: #ebebeb;
  --text-color: #181818;
  --primary-color:  rgb(128, 175, 223);
  --secondary-color: #333333;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --primary-color: rgb(128, 175, 223);
  --secondary-color: #333333;
}

header{

    height: 70px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    font-weight: 100;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-family: "Anonymous Pro", sans-serif;
    background-color: var(--bg-color);
}
.hh{
    margin-left: 10%;
    flex-grow: 2;
}

.menu1{
    flex-grow: 1;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center; 
    font-size: 18px; 
}

#m2{
    font-size: 15px;
}

#m1{
    border: solid var(--primary-color);
    border-width: 2px;
    padding: 4px;
    border-radius: 7px;
}
#m1:hover{
  box-shadow: 0 4px 8px rgba(0, 133, 215, 0.337);
}

.menu:hover{
    color: var(--primary-color);
    
}
/* --------------------------pages----------------------------- */

.dotlottie-player {
  width: 100%;
    aspect-ratio: 17/5;
    margin: 0 auto;
    overflow: hidden;
}


#anim1{
  background: url(img/cov2.gif);
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 17/5;
}

#anim2{
  background: url(img/cov3.gif);
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 17/5;
}
#anim3{
  background: url(img/cov4.gif);
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 17/5;
}

#anim4{
  background: url(img/img5.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 17/5;
}
#anim5{
  background: url(img/cov6.gif);
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 17/5;
}
#anim6{
  background: url(img/cov7.gif);
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 17/5;
}
#anim7{
  background: url(img/img7.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 17/5;
}
#anim8{
  background: url(img/img7.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 17/5;
}
#anim9{
  background: url(img/cov9.gif);
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 17/5;
}
.hh1{
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}

#body_3{
background-image: url(img/bg_3.png);
background-repeat: no-repeat;
}


/* ------------------------------------------------------- */
.hh1{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    
    

}
.main-text{
    margin: 0 auto;
    font-family: "Anonymous Pro", sans-serif;
    line-height: 1.6; 
    font-size: 18px; 
    font-family: 'Georgia', serif; 
    padding: 20px;

}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 400;
  }
  .back-to-top:hover{
    color: var(--primary-color);
  }

  .main-text{
    margin-left: 10%;
    margin-right: 10%;
    hanging-punctuation: none;
  }
  .nav-foot{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    gap: 150px;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 30px;
  }
  footer{
    height: 70px;
    background-color: var(--secondary-color);
  }
/* --------------------------menu----------------------------- */
  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    gap: 20px;
    color: var(--text-color);
    border: none;
    padding: 3px;
    font-size: 20px;
    cursor: pointer;
    z-index: 100;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .sidebar-menu {
    position: fixed;
    top: 0;
    right: -500px;
    width: 30%;
    height: 100%;
    background: var(--bg-color);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: right 0.3s;
    padding: 20px;
    box-sizing: border-box;

  }

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }
  
  .sidebar-menu li {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .sidebar-menu a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-family: "Anonymous Pro", sans-serif;
  }
  
  .sidebar-menu a:hover {
    color: var(--primary-color);
  }
  
  .menu-open .overlay {
    opacity: 1;
    visibility: visible;
  }
  
  .menu-open .sidebar-menu {
    right: 0;
  }

.f1{
  font-size: 40px;
}
.f1:hover{
  color: var(--primary-color);
}

.theme-buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;    
  flex-direction: row;

}
#lightBtn{
  border: solid var(--primary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  padding: 5px;
  border-radius: 7px;
  font-size: 18px;
  color: var(--text-color);
}

#lightBtn:hover{
  color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 133, 215, 0.337);
}

#darkBtn{
  border: solid var(--primary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  padding: 5px;
  border-radius: 7px;
  font-size: 18px;
  color: var(--text-color);
  
}

#darkBtn:hover{
  color: var(--primary-color);

  box-shadow: 0 4px 8px rgba(0, 133, 215, 0.337);
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  border-color: var(--primary-color);
}

/* --------------------------other----------------------------- */
#footer-text{
  justify-content: center;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
}

.panel {
  position: absolute;

  left: -250px;
  width: 300px;
  height: 100px;
  background-image: url(img/hand.png);
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  color: white;
  font-family: Arial, sans-serif;
}
.panel-2 {
  position: absolute;
  right: -250px; 
  width: 300px;
  height: 100px;
  background-image: url(img/hand_r.png);
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  color: white;
  font-family: Arial, sans-serif;
}
.panel:hover {
  left: -200px; /* Полностью выезжает при наведении */
}
.panel-2:hover{
  right: -200px;
}
.panel::after {
  margin-left: 10px;
  transition: transform 0.2s;
}

.panel:hover::after {
  transform: translateX(5px);
}
/* --------------------------other----------------------------- */
.gif-container {
  text-align: center;
}
.gif-replaceable{
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}

.gif-replaceable:hover {
  transform: scale(1.2);
}

.instructions {
  margin-top: 20px;
  color: #666;
}
.text_pic{
  display: flex;
  flex-direction: row;
}
/* ---------------- Медиа-запросы ---------------- */

/* Телефоны (меньше 768px) */
@media (max-width: 767px) {
  header {
    flex-direction: column;
    height: auto;
    font-size: 14px;
    gap: 10px;

  }

  .menu1 {
    flex-direction: row;
    font-size: 16px;
    gap: 10px;
  }
  
  .hh {
    font-size: 0px;
  }

  .main-text {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
  }

  .hh1 {
    font-size: 24px;
    text-align: center;
  }

  .nav-foot {

    gap: 20px;
    font-size: 16px;
  }

  .sidebar-menu {
    width: 60%;
  }

  #footer-text {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .f1 {
    font-size: 30px;
  }

  .back-to-top {
    bottom: 20px;
    right: 10px;
    font-size: 25px;
  }

  .anim, #anim1,#anim2,#anim3,#anim4,#anim5,#anim6,#anim7,#anim8,#anim9,#anim10{
    aspect-ratio: 12/5;

    
}
.dotlottie-player{
  aspect-ratio: 12/5;
}
#body_3{
  background-image: url(img/bg_3_2.png);
  background-repeat: no-repeat;
  }
  .panel {
    left: -280px;
  }
  .panel-2{
    right: -280px;
  }
  .text_pic{
    flex-direction: column;
  }
}

/* Планшеты (от 768px до 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 15px;
  }

  .menu1 {
    font-size: 17px;
    gap: 15px;
  }

  .main-text {
    margin-left: 7%;
    margin-right: 7%;
    font-size: 17px;
  }

  .hh1 {
    font-size: 28px;
    text-align: center;
  }

  .nav-foot {
    gap: 50px;
    font-size: 17px;
  }

  .sidebar-menu {
    width: 50%;

  }

  #footer-text {
    font-size: 15px;
    margin-left: 7%;
    margin-right: 7%;
  }

  .theme-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  #body_3{
    background-image: url(img/bg_3_2.png);
    background-repeat: no-repeat;
    }
}
